// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<style type="text/css">
div.row
  {
  margin:1px;
  border:3px solid #0000ff;
  height: auto;
  width: auto;
  float: right;
  }
</style>